
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Condensed&display=swap');
/*font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;*/

body{
    background-color: #27727C;
    font-family: 'Poppins', Arial, sans-serif;
    margin:0;
    padding:0;
}
header{
    background-color: #E8C187;
    display:grid;
    grid-template-columns: 150px auto;
}
.logo{
    width:80px;
}
h2{
    margin:0;
}
h4{
    color:#18112D 
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index:-1;
}
#hero-img{
    width:100%;
    z-index: 0;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 1;
    margin-top:100px;
}
#hero-msg h1{
    text-align:center;
    color:white;
    font-size: 4em;
}
#hero-msg h4{
    text-align:center;
    color:white;
    margin-top:-60px;
}
#logo_link{
    padding-top:5px;
    justify-self: center;
    align-self: center;
}
#content{
    max-width: 1600px;
    margin:0 auto;
}
a:hover{
    text-decoration: underline;
}
nav{
    display:flex;
    justify-content: space-around;
}
nav a{
    text-align:center;
    text-decoration: none;
    background-color:#E8C187;
    color:#18112D;
    padding:35px;
}
nav a:hover{
    background-color: #3EA39E;
    color:#18112D;
}
.button-box{
    text-align:center;
}
main{
    font-family: 'Roboto Condensed', Tahoma, sans-serif;
}
.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
main section{
    text-align:center;
}
main section img{
    box-sizing: border-box;
}
.river-card{
    margin:200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    margin:200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    margin:200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.card-img{
    border:10px solid #18112D;
    width:100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover{
    opacity:.6;
    transform:scale(1.1);
}
.icon{
    width:80px;
    padding-top:10px;
}
#background{
    height: 725px;
    background-color:#3EA39E;
    grid-row:4/9;
    grid-column: 1/-1;
}
.mountains{
    width:100%;
    grid-row: 5/8;
    grid-column:2/7;
}
.book{
    background-color: #E8C187;
    color:#18112D;
    text-decoration: none;
    font-size:18px;
    padding:15px 30px;
    margin-top:50px;
    border-radius: 5px;
}
.book:hover{
    background-color: #3EA39E;
    color:#18112D;
}
.join{
    background-color: #E8C187;
    color:#18112D;
    text-decoration: none;
    font-size:18px;
    padding:15px 30px;
    margin-top:50px;
    border-radius:5px;
}
.join:hover{
    background-color: #3EA39E;
    color:#18112D;
}
.msg{
    background-color: #E8C187;
    line-height:1.5em;
    padding:35px;
    grid-column: 6/10;
    grid-row: 6/7;
}
.msg h2{
    color:#18112D;
    font-family: 'Roboto Condensed', Tahoma, sans-serif;

}
.msg h4{
    color:#18112D;
}
.msg p{
    color:#18112D;
    font-size:.8em;
    padding-bottom:15px;
}
footer{
    background-color:#E8C187;
    font-family: 'Roboto Condensed', Tahoma, sans-serif;
    padding:25px 50px;
    margin-top:200px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
footer h3{
    color:#18112D;
}
footer a{
    color:#18112D;
    text-decoration: none;
}
footer a:hover{
    background-color: #3EA39E;
    color:#18112D;
}
footer .social img{
    padding-top:15px;
}
.home-title{
    font-family: 'Roboto Condensed', Tahoma, sans-serif;
    font-size:2em;
    margin-top:10px;
}
.main-fork {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top:20px ;
    gap:25px;
}

.desolation {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top:20px ;
    gap:25px;
}

.grand_canyon {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top:20px ;
    gap:25px;
}

.title{
    grid-row: 1;
    grid-column: 1/-1;
    font-size: 3em;
    color:white;
    margin: 15px 30px
}

.r_img{
    margin-right: 50px;
    z-index: 1;
}

.l_img{
    margin-left:50px;
    z-index: 1;
}

.r_info{
    grid-column: 2/4;
    background-color: #3EA39E;
    font-size: 1.25em;
    align-self: center;
    margin-left:-200px;
    margin-right:40px;
    padding:10px 25px 10px 250px;
}

.r_info1{
    z-index: 0;
    align-self:center;
    grid-row:2;
    grid-column: 1/3;
    margin-left:40px;
    margin-right:-200px;
    padding:10px 250px 10px 25px;
    background-color: #3EA39E;
    font-size: 1.25em;
}

.long {
    grid-row:3;
    width:100%;
    grid-column: 1/-1;
    margin-top:100px;
}
form {
    /* Center the form on the page */
    margin: 50px auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }
  #feedback {
      background-color: antiquewhite;
      top: 1;
      left: 0;
      right: 0;
      padding: .5em;
      /* make this element invisible until we are ready for it */
      display: none;       
  }
  .moveDown {
      margin-top: 3em;
  }

@media screen and (max-width: 900px){
    #hero, .home-grid{
        display:block;
        height:auto;
    }
    nav,footer{
        flex-direction: column;
    }
    nav a{
        display:block;
        padding:15px;
    }
    #hero{
        margin:0;
    }
    #hero-msg{
        margin-top: 0;
    }
    #hero-msg h4{
        display:none;
    }
    .home-title{
        font-size: 25px;
        color:#18112D;
    }
    .river-card, .camping-card, .rapids-card{
        margin:50px auto;
        width:60%;
    }
    #background{
        display:none;
    }
    .mountains, .msg{
        width:80%;
        display:block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
    .main-fork {
        display:block;
        height:auto;
    }
    
    .desolation {
        display:block;
        height:auto;
    }
    
    .grand_canyon {
        display:block;
        height:auto;
    }
    
    .title{
        font-size: 25px;
        color:white;
        margin: 15px 30px
    }
    
    .r_img{
        display:inline-block;
        justify-self: right;
        z-index: 1;
        width:80%;
        margin-right:0;
    }
    
    .l_img{
        display:block;
        height:auto;
        align-self: left;
        z-index: 1;
        width:80%;
    }
    
    .r_info{
        background-color: #3EA39E;
        font-size: 1.25em;
        align-self: center;
        margin-left:-200px;
        margin-right:40px;
        padding:10px 25px 10px 250px;
    }
    
    .r_info1{
        z-index: 0;
        align-self:center;
        margin-left:40px;
        margin-right:0;
        padding:10px 25px 10px 25px;
        background-color: #3EA39E;
        font-size: 1.25em;
        overflow:auto;
    }
    
    .long {
        grid-row:3;
        width:100%;
        grid-column: 1/-1;
    }
}