body{
    background-color: #27727C;
}
header{
    background-color: #E8C187;
}
.logo{
    width:80px;
}
h4{
    background-color:#E8C187;
    color:#18112D 
}
#hero-img{
    width:100%;
}
#content{
    max-width: 1600px;
    margin:0 auto;
}
a:hover{
    text-decoration: underline;
}
nav a{
    text-align:center;
    text-decoration: none;
    background-color:#E8C187;
    color:#18112D
}
nav a:hover{
    background-color: #3EA39E;
    color:#18112D;
}
#hero-msg h1{
    text-align:center;
}
#hero-msg h4{
    text-align:center;
}
.button-box{
    text-align:center;
}
main section{
    text-align:center;
}
.icon{
    width:80px;
}
#background{
    height: 725px;
    background-color:#E8C187;
}
.book{
    background-color: #E8C187;
    color:#18112D;
    text-decoration: none;
}
.book:hover{
    background-color: #3EA39E;
    color:#18112D;
}
.join{
    background-color: #E8C187;
    color:#18112D;
    text-decoration: none;
}
.join:hover{
    background-color: #3EA39E;
    color:#18112D;
}
.msg{
    background-color: #E8C187;
}
.msg h2{
    color:#18112D;

}
.msg h4{
    color:#18112D;
}
.msg p{
    color:#18112D;
}
footer{
    background-color:#E8C187;
}
footer h3{
    color:#18112D;
    text-decoration: underline;
}
footer a{
    color:#18112D;
    text-decoration: none;
}
footer a:hover{
    background-color: #3EA39E;
    color:#18112D;
}
.home-title{
    background-color:#E8C187
}